:root{
    --white-color: #fff;
    --black-color:#000;
    --text-color:#333;
    --liked-color: orange;
    --discount-color: rgba(255,216,64,0.94);
    --main-color:#b8a898;
    --background-color:#d2beb4;
    --btn-color:#6b4932;/* màu chữ slider 2*/
    --red-color:red;  
    --slider-2-color:rgba(186, 186, 186, 0.6); 
    --darkpink: #b8a898;
    --lightpink: #d2beb4;
    --darkbrown: #6B4932;
    --black: black;
    --white: #ffffff;         
}


*{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    /* overflow: hidden; */
}


html{
    /* HACK */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}




