.breadcrumb{
    background-color: var(--lightpink);
    padding: 5px ;
    font-size: 12px;
    padding-left: 70px;
    margin-top: 92px;
}
.breadcrumb>li{
    font-size: 1.2rem;
}
a{
    color: var(--black);
    text-decoration: none;
}